USE [master]
GO
/****** Object:  Database [SistemaPlanMejoramiento]    Script Date: 9/06/2026 7:28:21 a. m. ******/
CREATE DATABASE [SistemaPlanMejoramiento]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaPlanMejoramiento_Data', FILENAME = N'c:\dzsqls\SistemaPlanMejoramiento.mdf' , SIZE = 8192KB , MAXSIZE = 30720KB , FILEGROWTH = 22528KB )
 LOG ON 
( NAME = N'SistemaPlanMejoramiento_Logs', FILENAME = N'c:\dzsqls\SistemaPlanMejoramiento.ldf' , SIZE = 8192KB , MAXSIZE = 30720KB , FILEGROWTH = 22528KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaPlanMejoramiento].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaPlanMejoramiento]
GO
/****** Object:  User [JulianReyes_SQLLogin_1]    Script Date: 9/06/2026 7:28:26 a. m. ******/
CREATE USER [JulianReyes_SQLLogin_1] FOR LOGIN [JulianReyes_SQLLogin_1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [JulianReyes_SQLLogin_1]
GO
/****** Object:  Schema [JulianReyes_SQLLogin_1]    Script Date: 9/06/2026 7:28:26 a. m. ******/
CREATE SCHEMA [JulianReyes_SQLLogin_1]
GO
/****** Object:  Table [dbo].[administradores]    Script Date: 9/06/2026 7:28:26 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administradores](
	[idAdministrador] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idCentro] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idAdministrador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aprendices]    Script Date: 9/06/2026 7:28:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aprendices](
	[idAprendiz] [int] IDENTITY(1,1) NOT NULL,
	[tipoDocumento] [nvarchar](50) NOT NULL,
	[numeroDocumento] [nvarchar](50) NOT NULL,
	[nombres] [nvarchar](100) NOT NULL,
	[apellidos] [nvarchar](100) NOT NULL,
	[correo] [nvarchar](100) NOT NULL,
	[telefono] [nvarchar](50) NOT NULL,
	[estadoAcademico] [nvarchar](20) NOT NULL,
	[idUsuario] [int] NULL,
	[idFicha] [int] NOT NULL,
	[idCentro] [int] NOT NULL,
 CONSTRAINT [PK_aprendices] PRIMARY KEY CLUSTERED 
(
	[idAprendiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[centros]    Script Date: 9/06/2026 7:28:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[centros](
	[idCentro] [int] IDENTITY(1,1) NOT NULL,
	[codigoCentro] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[regional] [nvarchar](100) NOT NULL,
	[municipio] [nvarchar](100) NOT NULL,
	[departamento] [nvarchar](100) NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_centros] PRIMARY KEY CLUSTERED 
(
	[idCentro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[competencias]    Script Date: 9/06/2026 7:28:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competencias](
	[idCompetencia] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[idPrograma] [int] NOT NULL,
 CONSTRAINT [PK_competencias] PRIMARY KEY CLUSTERED 
(
	[idCompetencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evaluaciones]    Script Date: 9/06/2026 7:28:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluaciones](
	[idEvaluacion] [int] IDENTITY(1,1) NOT NULL,
	[idPlanMejoramiento] [int] NOT NULL,
	[criterioProducto] [nvarchar](50) NULL,
	[criterioConocimiento] [nvarchar](50) NULL,
	[criterioDesempeno] [nvarchar](50) NULL,
	[observaciones] [nvarchar](max) NULL,
 CONSTRAINT [PK_evaluaciones] PRIMARY KEY CLUSTERED 
(
	[idEvaluacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evidencias]    Script Date: 9/06/2026 7:28:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evidencias](
	[idEvidencia] [int] IDENTITY(1,1) NOT NULL,
	[idPlanMejoramiento] [int] NOT NULL,
	[nombreArchivo] [nvarchar](255) NULL,
	[rutaArchivo] [nvarchar](max) NULL,
	[fechaSubida] [datetime] NULL,
	[tipoArchivo] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_evidencias] PRIMARY KEY CLUSTERED 
(
	[idEvidencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fichaAprendiz]    Script Date: 9/06/2026 7:28:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fichaAprendiz](
	[idFichaAprendiz] [int] IDENTITY(1,1) NOT NULL,
	[idFicha] [int] NOT NULL,
	[idAprendiz] [int] NOT NULL,
 CONSTRAINT [PK_fichaAprendiz] PRIMARY KEY CLUSTERED 
(
	[idFichaAprendiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fichaInstructor]    Script Date: 9/06/2026 7:28:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fichaInstructor](
	[idFichaInstructor] [int] IDENTITY(1,1) NOT NULL,
	[idFicha] [int] NOT NULL,
	[idInstructor] [int] NOT NULL,
 CONSTRAINT [PK_fichaInstructor] PRIMARY KEY CLUSTERED 
(
	[idFichaInstructor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fichas]    Script Date: 9/06/2026 7:28:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fichas](
	[idFicha] [int] IDENTITY(1,1) NOT NULL,
	[codigoFicha] [nvarchar](50) NULL,
	[fechaInicio] [date] NOT NULL,
	[fechaFinalizacion] [date] NOT NULL,
	[jornada] [nvarchar](20) NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
	[idPrograma] [int] NOT NULL,
	[idCentro] [int] NOT NULL,
 CONSTRAINT [PK_fichas] PRIMARY KEY CLUSTERED 
(
	[idFicha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[instructores]    Script Date: 9/06/2026 7:28:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instructores](
	[idInstructor] [int] IDENTITY(1,1) NOT NULL,
	[tipoDocumento] [nvarchar](50) NOT NULL,
	[numeroDocumento] [nvarchar](80) NOT NULL,
	[nombres] [nvarchar](100) NOT NULL,
	[apellidos] [nvarchar](100) NOT NULL,
	[correo] [nvarchar](100) NOT NULL,
	[telefono] [nvarchar](50) NOT NULL,
	[especialidad] [nvarchar](50) NOT NULL,
	[idUsuario] [int] NULL,
	[idCentro] [int] NOT NULL,
 CONSTRAINT [PK_instructores] PRIMARY KEY CLUSTERED 
(
	[idInstructor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[planesMejoramiento]    Script Date: 9/06/2026 7:28:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[planesMejoramiento](
	[idPlanMejoramiento] [int] IDENTITY(1,1) NOT NULL,
	[tipoPlan] [nvarchar](50) NOT NULL,
	[fechaAsignacion] [date] NOT NULL,
	[fechaLimite] [date] NOT NULL,
	[actividades] [nvarchar](200) NOT NULL,
	[observaciones] [nvarchar](max) NULL,
	[estadoPlan] [nvarchar](20) NOT NULL,
	[idAprendiz] [int] NOT NULL,
	[idInstructor] [int] NOT NULL,
 CONSTRAINT [PK_planesMejoramiento] PRIMARY KEY CLUSTERED 
(
	[idPlanMejoramiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[planResultados]    Script Date: 9/06/2026 7:28:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[planResultados](
	[idPlanResultado] [int] IDENTITY(1,1) NOT NULL,
	[idPlanMejoramiento] [int] NOT NULL,
	[idResultadoAprendizaje] [int] NOT NULL,
 CONSTRAINT [PK_planResultados] PRIMARY KEY CLUSTERED 
(
	[idPlanResultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[programas]    Script Date: 9/06/2026 7:28:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[programas](
	[idPrograma] [int] IDENTITY(1,1) NOT NULL,
	[codigoPrograma] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[version] [nvarchar](20) NOT NULL,
	[nivel] [nvarchar](80) NOT NULL,
	[duracion] [nvarchar](80) NOT NULL,
	[estado] [nvarchar](80) NOT NULL,
	[idCentro] [int] NOT NULL,
 CONSTRAINT [PK_programas] PRIMARY KEY CLUSTERED 
(
	[idPrograma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recuperacionPassword]    Script Date: 9/06/2026 7:28:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recuperacionPassword](
	[idRecuperacion] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[token] [nvarchar](200) NOT NULL,
	[fechaExpiracion] [datetime] NOT NULL,
	[usado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idRecuperacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[resultadoAprendizaje]    Script Date: 9/06/2026 7:28:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resultadoAprendizaje](
	[idResultadoAprendizaje] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](500) NULL,
	[idCompetencia] [int] NOT NULL,
 CONSTRAINT [PK_resultadoAprendizaje] PRIMARY KEY CLUSTERED 
(
	[idResultadoAprendizaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 9/06/2026 7:28:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[nombreRol] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 9/06/2026 7:28:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[correo] [nvarchar](150) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[idRol] [int] NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[aprendices] ON 

INSERT [dbo].[aprendices] ([idAprendiz], [tipoDocumento], [numeroDocumento], [nombres], [apellidos], [correo], [telefono], [estadoAcademico], [idUsuario], [idFicha], [idCentro]) VALUES (1, N'Tarjeta de Identidad', N'2001', N'Juan', N'Reyes', N'juan@sena.edu.co', N'3101111111', N'Cancelado', 3, 5, 1)
INSERT [dbo].[aprendices] ([idAprendiz], [tipoDocumento], [numeroDocumento], [nombres], [apellidos], [correo], [telefono], [estadoAcademico], [idUsuario], [idFicha], [idCentro]) VALUES (2, N'Tarjeta de Identidad', N'2002', N'Camila', N'Suarez', N'camila@sena.edu.co', N'3102222222', N'Condicionado', 3, 2, 2)
INSERT [dbo].[aprendices] ([idAprendiz], [tipoDocumento], [numeroDocumento], [nombres], [apellidos], [correo], [telefono], [estadoAcademico], [idUsuario], [idFicha], [idCentro]) VALUES (3, N'Tarjeta de Identidad', N'2003', N'Miguel', N'Ortega', N'miguel@sena.edu.co', N'3103333333', N'En formación', 3, 3, 3)
SET IDENTITY_INSERT [dbo].[aprendices] OFF
GO
SET IDENTITY_INSERT [dbo].[centros] ON 

INSERT [dbo].[centros] ([idCentro], [codigoCentro], [nombre], [regional], [municipio], [departamento], [estado]) VALUES (1, N'C001', N'Centro Industrial', N'Boyacá', N'Sogamoso', N'Boyacá', N'Activo')
INSERT [dbo].[centros] ([idCentro], [codigoCentro], [nombre], [regional], [municipio], [departamento], [estado]) VALUES (2, N'C002', N'Centro Minero', N'Boyacá', N'Duitama', N'Boyacá', N'Activo')
INSERT [dbo].[centros] ([idCentro], [codigoCentro], [nombre], [regional], [municipio], [departamento], [estado]) VALUES (3, N'C003', N'Centro Agropecuario', N'Cundinamarca', N'Chía', N'Cundinamarca', N'Activo')
SET IDENTITY_INSERT [dbo].[centros] OFF
GO
SET IDENTITY_INSERT [dbo].[competencias] ON 

INSERT [dbo].[competencias] ([idCompetencia], [descripcion], [idPrograma]) VALUES (1, N'Desarrollar software', 1)
INSERT [dbo].[competencias] ([idCompetencia], [descripcion], [idPrograma]) VALUES (2, N'Gestionar cuentas', 2)
INSERT [dbo].[competencias] ([idCompetencia], [descripcion], [idPrograma]) VALUES (3, N'Instalar circuitos', 3)
SET IDENTITY_INSERT [dbo].[competencias] OFF
GO
SET IDENTITY_INSERT [dbo].[evaluaciones] ON 

INSERT [dbo].[evaluaciones] ([idEvaluacion], [idPlanMejoramiento], [criterioProducto], [criterioConocimiento], [criterioDesempeno], [observaciones]) VALUES (1, 1, N'Aprobado', N'Aprobado', N'Aprobado', N'Buen desempeño')
INSERT [dbo].[evaluaciones] ([idEvaluacion], [idPlanMejoramiento], [criterioProducto], [criterioConocimiento], [criterioDesempeno], [observaciones]) VALUES (2, 2, N'No aprobado', N'Aprobado', N'No aprobado', N'Debe reforzar')
INSERT [dbo].[evaluaciones] ([idEvaluacion], [idPlanMejoramiento], [criterioProducto], [criterioConocimiento], [criterioDesempeno], [observaciones]) VALUES (3, 3, N'Aprobado', N'Aprobado', N'Aprobado', N'Excelente')
SET IDENTITY_INSERT [dbo].[evaluaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[evidencias] ON 

INSERT [dbo].[evidencias] ([idEvidencia], [idPlanMejoramiento], [nombreArchivo], [rutaArchivo], [fechaSubida], [tipoArchivo]) VALUES (1, 1, N'evidencia1.pdf', N'/archivos/e1.pdf', CAST(N'2026-05-27T08:57:59.027' AS DateTime), N'PDF')
INSERT [dbo].[evidencias] ([idEvidencia], [idPlanMejoramiento], [nombreArchivo], [rutaArchivo], [fechaSubida], [tipoArchivo]) VALUES (2, 2, N'evidencia2.docx', N'/archivos/e2.docx', CAST(N'2026-05-27T08:57:59.027' AS DateTime), N'DOCX')
INSERT [dbo].[evidencias] ([idEvidencia], [idPlanMejoramiento], [nombreArchivo], [rutaArchivo], [fechaSubida], [tipoArchivo]) VALUES (3, 3, N'evidencia3.jpg', N'/archivos/e3.jpg', CAST(N'2026-05-27T08:57:59.027' AS DateTime), N'JPG')
SET IDENTITY_INSERT [dbo].[evidencias] OFF
GO
SET IDENTITY_INSERT [dbo].[fichaAprendiz] ON 

INSERT [dbo].[fichaAprendiz] ([idFichaAprendiz], [idFicha], [idAprendiz]) VALUES (1, 1, 1)
INSERT [dbo].[fichaAprendiz] ([idFichaAprendiz], [idFicha], [idAprendiz]) VALUES (13, 1, 11)
INSERT [dbo].[fichaAprendiz] ([idFichaAprendiz], [idFicha], [idAprendiz]) VALUES (14, 1, 12)
SET IDENTITY_INSERT [dbo].[fichaAprendiz] OFF
GO
SET IDENTITY_INSERT [dbo].[fichaInstructor] ON 

INSERT [dbo].[fichaInstructor] ([idFichaInstructor], [idFicha], [idInstructor]) VALUES (1, 1, 1)
INSERT [dbo].[fichaInstructor] ([idFichaInstructor], [idFicha], [idInstructor]) VALUES (13, 1, 11)
INSERT [dbo].[fichaInstructor] ([idFichaInstructor], [idFicha], [idInstructor]) VALUES (2, 2, 2)
SET IDENTITY_INSERT [dbo].[fichaInstructor] OFF
GO
SET IDENTITY_INSERT [dbo].[fichas] ON 

INSERT [dbo].[fichas] ([idFicha], [codigoFicha], [fechaInicio], [fechaFinalizacion], [jornada], [estado], [idPrograma], [idCentro]) VALUES (1, N'F001', CAST(N'2026-01-10' AS Date), CAST(N'2027-12-10' AS Date), N'Mañana', N'En formacion', 1, 1)
INSERT [dbo].[fichas] ([idFicha], [codigoFicha], [fechaInicio], [fechaFinalizacion], [jornada], [estado], [idPrograma], [idCentro]) VALUES (2, N'F002', CAST(N'2026-02-01' AS Date), CAST(N'2027-02-01' AS Date), N'Tarde', N'En formacion', 2, 2)
INSERT [dbo].[fichas] ([idFicha], [codigoFicha], [fechaInicio], [fechaFinalizacion], [jornada], [estado], [idPrograma], [idCentro]) VALUES (3, N'F003', CAST(N'2026-03-05' AS Date), CAST(N'2027-09-05' AS Date), N'Noche', N'En formacion', 3, 3)
SET IDENTITY_INSERT [dbo].[fichas] OFF
GO
SET IDENTITY_INSERT [dbo].[instructores] ON 

INSERT [dbo].[instructores] ([idInstructor], [tipoDocumento], [numeroDocumento], [nombres], [apellidos], [correo], [telefono], [especialidad], [idUsuario], [idCentro]) VALUES (1, N'Cédula de Ciudadanía', N'1001', N'Carlos', N'Perez', N'paulavillate241@gmail.com', N'3001111111', N'Software', 2, 1)
INSERT [dbo].[instructores] ([idInstructor], [tipoDocumento], [numeroDocumento], [nombres], [apellidos], [correo], [telefono], [especialidad], [idUsuario], [idCentro]) VALUES (2, N'Cédula de Ciudadanía', N'1002', N'Ana', N'Lopez', N'ana@sena.edu.co', N'3002222222', N'Contabilidad', 2, 2)
INSERT [dbo].[instructores] ([idInstructor], [tipoDocumento], [numeroDocumento], [nombres], [apellidos], [correo], [telefono], [especialidad], [idUsuario], [idCentro]) VALUES (3, N'Cédula de Ciudadanía', N'1003', N'Luis', N'Martinez', N'luis@sena.edu.co', N'3003333333', N'Electricidad', 2, 3)
SET IDENTITY_INSERT [dbo].[instructores] OFF
GO
SET IDENTITY_INSERT [dbo].[planesMejoramiento] ON 

INSERT [dbo].[planesMejoramiento] ([idPlanMejoramiento], [tipoPlan], [fechaAsignacion], [fechaLimite], [actividades], [observaciones], [estadoPlan], [idAprendiz], [idInstructor]) VALUES (1, N'Interno', CAST(N'2026-05-01' AS Date), CAST(N'2026-05-20' AS Date), N'Actividad 1', N'Pendiente entrega', N'Pendiente', 1, 1)
INSERT [dbo].[planesMejoramiento] ([idPlanMejoramiento], [tipoPlan], [fechaAsignacion], [fechaLimite], [actividades], [observaciones], [estadoPlan], [idAprendiz], [idInstructor]) VALUES (2, N'Comité', CAST(N'2026-05-02' AS Date), CAST(N'2026-05-25' AS Date), N'Actividad 2', N'Debe mejorar', N'No Aprobado', 2, 2)
INSERT [dbo].[planesMejoramiento] ([idPlanMejoramiento], [tipoPlan], [fechaAsignacion], [fechaLimite], [actividades], [observaciones], [estadoPlan], [idAprendiz], [idInstructor]) VALUES (3, N'Interno', CAST(N'2026-05-03' AS Date), CAST(N'2026-05-30' AS Date), N'Actividad 3', N'Buen avance', N'Aprobado', 3, 3)
SET IDENTITY_INSERT [dbo].[planesMejoramiento] OFF
GO
SET IDENTITY_INSERT [dbo].[planResultados] ON 

INSERT [dbo].[planResultados] ([idPlanResultado], [idPlanMejoramiento], [idResultadoAprendizaje]) VALUES (1, 1, 1)
INSERT [dbo].[planResultados] ([idPlanResultado], [idPlanMejoramiento], [idResultadoAprendizaje]) VALUES (2, 2, 2)
INSERT [dbo].[planResultados] ([idPlanResultado], [idPlanMejoramiento], [idResultadoAprendizaje]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[planResultados] OFF
GO
SET IDENTITY_INSERT [dbo].[programas] ON 

INSERT [dbo].[programas] ([idPrograma], [codigoPrograma], [nombre], [version], [nivel], [duracion], [estado], [idCentro]) VALUES (1, N'P001', N'ADSO', N'1', N'Tecnólogo', N'24 meses', N'Activo', 1)
INSERT [dbo].[programas] ([idPrograma], [codigoPrograma], [nombre], [version], [nivel], [duracion], [estado], [idCentro]) VALUES (2, N'P002', N'Contabilidad', N'2', N'Técnico', N'12 meses', N'Activo', 2)
INSERT [dbo].[programas] ([idPrograma], [codigoPrograma], [nombre], [version], [nivel], [duracion], [estado], [idCentro]) VALUES (3, N'P003', N'Electricidad', N'1', N'Tecnólogo', N'18 meses', N'Activo', 3)
SET IDENTITY_INSERT [dbo].[programas] OFF
GO
SET IDENTITY_INSERT [dbo].[recuperacionPassword] ON 

INSERT [dbo].[recuperacionPassword] ([idRecuperacion], [idUsuario], [token], [fechaExpiracion], [usado]) VALUES (1, 1, N'2a3acb1c73ca42e4ac21c351332c8799', CAST(N'2026-06-06T12:47:45.833' AS DateTime), 0)
INSERT [dbo].[recuperacionPassword] ([idRecuperacion], [idUsuario], [token], [fechaExpiracion], [usado]) VALUES (2, 2, N'TOKEN002', CAST(N'2026-05-28T08:57:59.433' AS DateTime), 0)
INSERT [dbo].[recuperacionPassword] ([idRecuperacion], [idUsuario], [token], [fechaExpiracion], [usado]) VALUES (3, 3, N'TOKEN003', CAST(N'2026-05-28T08:57:59.433' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[recuperacionPassword] OFF
GO
SET IDENTITY_INSERT [dbo].[resultadoAprendizaje] ON 

INSERT [dbo].[resultadoAprendizaje] ([idResultadoAprendizaje], [descripcion], [idCompetencia]) VALUES (1, N'Crear sistema web', 1)
INSERT [dbo].[resultadoAprendizaje] ([idResultadoAprendizaje], [descripcion], [idCompetencia]) VALUES (2, N'Registrar movimientos', 2)
INSERT [dbo].[resultadoAprendizaje] ([idResultadoAprendizaje], [descripcion], [idCompetencia]) VALUES (3, N'Conectar circuitos', 3)
SET IDENTITY_INSERT [dbo].[resultadoAprendizaje] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([idRol], [nombreRol]) VALUES (1, N'Administrador')
INSERT [dbo].[roles] ([idRol], [nombreRol]) VALUES (2, N'Instructor')
INSERT [dbo].[roles] ([idRol], [nombreRol]) VALUES (3, N'Aprendiz')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([idUsuario], [correo], [password], [idRol]) VALUES (1, N'Juliandreyes23@gmail.com', N'3b612c75a7b5048a435fb6ec81e52ff92d6d795a8b5a9c17070f6a63c97a53b2', 1)
INSERT [dbo].[usuarios] ([idUsuario], [correo], [password], [idRol]) VALUES (2, N'paulavillate241@gmail.com', N'5994471abb01112afcc18159f6cc74b4f511b99806da59b3caf5a9c173cacfc5', 2)
INSERT [dbo].[usuarios] ([idUsuario], [correo], [password], [idRol]) VALUES (3, N'Juliandreyes07@gmail.com', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', 3)
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Aprendiz_Documento]    Script Date: 9/06/2026 7:28:55 a. m. ******/
ALTER TABLE [dbo].[aprendices] ADD  CONSTRAINT [UQ_Aprendiz_Documento] UNIQUE NONCLUSTERED 
(
	[numeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_centros_codigo]    Script Date: 9/06/2026 7:28:55 a. m. ******/
ALTER TABLE [dbo].[centros] ADD  CONSTRAINT [UQ_centros_codigo] UNIQUE NONCLUSTERED 
(
	[codigoCentro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_FichaAprendiz]    Script Date: 9/06/2026 7:28:55 a. m. ******/
ALTER TABLE [dbo].[fichaAprendiz] ADD  CONSTRAINT [UQ_FichaAprendiz] UNIQUE NONCLUSTERED 
(
	[idFicha] ASC,
	[idAprendiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_FichaInstructor]    Script Date: 9/06/2026 7:28:55 a. m. ******/
ALTER TABLE [dbo].[fichaInstructor] ADD  CONSTRAINT [UQ_FichaInstructor] UNIQUE NONCLUSTERED 
(
	[idFicha] ASC,
	[idInstructor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Instructor_Documento]    Script Date: 9/06/2026 7:28:55 a. m. ******/
ALTER TABLE [dbo].[instructores] ADD  CONSTRAINT [UQ_Instructor_Documento] UNIQUE NONCLUSTERED 
(
	[numeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_PlanResultados]    Script Date: 9/06/2026 7:28:55 a. m. ******/
ALTER TABLE [dbo].[planResultados] ADD  CONSTRAINT [UQ_PlanResultados] UNIQUE NONCLUSTERED 
(
	[idPlanMejoramiento] ASC,
	[idResultadoAprendizaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__recupera__CA90DA7A2420F5F8]    Script Date: 9/06/2026 7:28:55 a. m. ******/
ALTER TABLE [dbo].[recuperacionPassword] ADD UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuarios_Correo]    Script Date: 9/06/2026 7:28:55 a. m. ******/
ALTER TABLE [dbo].[usuarios] ADD  CONSTRAINT [UQ_Usuarios_Correo] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[centros] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[programas] ADD  DEFAULT ((1)) FOR [idCentro]
GO
ALTER TABLE [dbo].[recuperacionPassword] ADD  DEFAULT ((0)) FOR [usado]
GO
ALTER TABLE [dbo].[administradores]  WITH CHECK ADD FOREIGN KEY([idCentro])
REFERENCES [dbo].[centros] ([idCentro])
GO
ALTER TABLE [dbo].[administradores]  WITH CHECK ADD FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[aprendices]  WITH NOCHECK ADD  CONSTRAINT [FK_aprendices_centros] FOREIGN KEY([idCentro])
REFERENCES [dbo].[centros] ([idCentro])
GO
ALTER TABLE [dbo].[aprendices] CHECK CONSTRAINT [FK_aprendices_centros]
GO
ALTER TABLE [dbo].[aprendices]  WITH NOCHECK ADD  CONSTRAINT [FK_aprendices_usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[aprendices] CHECK CONSTRAINT [FK_aprendices_usuarios]
GO
ALTER TABLE [dbo].[competencias]  WITH CHECK ADD  CONSTRAINT [FK_competencias_programas] FOREIGN KEY([idPrograma])
REFERENCES [dbo].[programas] ([idPrograma])
GO
ALTER TABLE [dbo].[competencias] CHECK CONSTRAINT [FK_competencias_programas]
GO
ALTER TABLE [dbo].[evaluaciones]  WITH CHECK ADD  CONSTRAINT [FK_evaluaciones_planesMejoramiento] FOREIGN KEY([idPlanMejoramiento])
REFERENCES [dbo].[planesMejoramiento] ([idPlanMejoramiento])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[evaluaciones] CHECK CONSTRAINT [FK_evaluaciones_planesMejoramiento]
GO
ALTER TABLE [dbo].[evidencias]  WITH CHECK ADD  CONSTRAINT [FK_evidencias_planesMejoramiento] FOREIGN KEY([idPlanMejoramiento])
REFERENCES [dbo].[planesMejoramiento] ([idPlanMejoramiento])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[evidencias] CHECK CONSTRAINT [FK_evidencias_planesMejoramiento]
GO
ALTER TABLE [dbo].[fichaAprendiz]  WITH CHECK ADD  CONSTRAINT [FK_fichaAprendiz_aprendices] FOREIGN KEY([idAprendiz])
REFERENCES [dbo].[aprendices] ([idAprendiz])
GO
ALTER TABLE [dbo].[fichaAprendiz] CHECK CONSTRAINT [FK_fichaAprendiz_aprendices]
GO
ALTER TABLE [dbo].[fichaAprendiz]  WITH CHECK ADD  CONSTRAINT [FK_fichaAprendiz_fichas] FOREIGN KEY([idFicha])
REFERENCES [dbo].[fichas] ([idFicha])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[fichaAprendiz] CHECK CONSTRAINT [FK_fichaAprendiz_fichas]
GO
ALTER TABLE [dbo].[fichaInstructor]  WITH CHECK ADD  CONSTRAINT [FK_fichaInstructor_fichas] FOREIGN KEY([idFicha])
REFERENCES [dbo].[fichas] ([idFicha])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[fichaInstructor] CHECK CONSTRAINT [FK_fichaInstructor_fichas]
GO
ALTER TABLE [dbo].[fichaInstructor]  WITH CHECK ADD  CONSTRAINT [FK_fichaInstructor_instructores] FOREIGN KEY([idInstructor])
REFERENCES [dbo].[instructores] ([idInstructor])
GO
ALTER TABLE [dbo].[fichaInstructor] CHECK CONSTRAINT [FK_fichaInstructor_instructores]
GO
ALTER TABLE [dbo].[fichas]  WITH CHECK ADD  CONSTRAINT [FK_fichas_centros] FOREIGN KEY([idCentro])
REFERENCES [dbo].[centros] ([idCentro])
GO
ALTER TABLE [dbo].[fichas] CHECK CONSTRAINT [FK_fichas_centros]
GO
ALTER TABLE [dbo].[fichas]  WITH CHECK ADD  CONSTRAINT [FK_fichas_programas] FOREIGN KEY([idPrograma])
REFERENCES [dbo].[programas] ([idPrograma])
GO
ALTER TABLE [dbo].[fichas] CHECK CONSTRAINT [FK_fichas_programas]
GO
ALTER TABLE [dbo].[instructores]  WITH CHECK ADD  CONSTRAINT [FK_instructores_centros] FOREIGN KEY([idCentro])
REFERENCES [dbo].[centros] ([idCentro])
GO
ALTER TABLE [dbo].[instructores] CHECK CONSTRAINT [FK_instructores_centros]
GO
ALTER TABLE [dbo].[instructores]  WITH CHECK ADD  CONSTRAINT [FK_instructores_usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[instructores] CHECK CONSTRAINT [FK_instructores_usuarios]
GO
ALTER TABLE [dbo].[planesMejoramiento]  WITH CHECK ADD  CONSTRAINT [FK_planesMejoramiento_aprendices] FOREIGN KEY([idAprendiz])
REFERENCES [dbo].[aprendices] ([idAprendiz])
GO
ALTER TABLE [dbo].[planesMejoramiento] CHECK CONSTRAINT [FK_planesMejoramiento_aprendices]
GO
ALTER TABLE [dbo].[planesMejoramiento]  WITH CHECK ADD  CONSTRAINT [FK_planesMejoramiento_instructores] FOREIGN KEY([idInstructor])
REFERENCES [dbo].[instructores] ([idInstructor])
GO
ALTER TABLE [dbo].[planesMejoramiento] CHECK CONSTRAINT [FK_planesMejoramiento_instructores]
GO
ALTER TABLE [dbo].[planResultados]  WITH CHECK ADD  CONSTRAINT [FK_planResultados_planesMejoramiento] FOREIGN KEY([idPlanMejoramiento])
REFERENCES [dbo].[planesMejoramiento] ([idPlanMejoramiento])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[planResultados] CHECK CONSTRAINT [FK_planResultados_planesMejoramiento]
GO
ALTER TABLE [dbo].[planResultados]  WITH CHECK ADD  CONSTRAINT [FK_planResultados_resultadoAprendizaje] FOREIGN KEY([idResultadoAprendizaje])
REFERENCES [dbo].[resultadoAprendizaje] ([idResultadoAprendizaje])
GO
ALTER TABLE [dbo].[planResultados] CHECK CONSTRAINT [FK_planResultados_resultadoAprendizaje]
GO
ALTER TABLE [dbo].[programas]  WITH CHECK ADD  CONSTRAINT [FK_programas_centros] FOREIGN KEY([idCentro])
REFERENCES [dbo].[centros] ([idCentro])
GO
ALTER TABLE [dbo].[programas] CHECK CONSTRAINT [FK_programas_centros]
GO
ALTER TABLE [dbo].[recuperacionPassword]  WITH CHECK ADD  CONSTRAINT [FK_Recuperacion_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[recuperacionPassword] CHECK CONSTRAINT [FK_Recuperacion_Usuario]
GO
ALTER TABLE [dbo].[resultadoAprendizaje]  WITH CHECK ADD  CONSTRAINT [FK_resultadoAprendizaje_competencias] FOREIGN KEY([idCompetencia])
REFERENCES [dbo].[competencias] ([idCompetencia])
GO
ALTER TABLE [dbo].[resultadoAprendizaje] CHECK CONSTRAINT [FK_resultadoAprendizaje_competencias]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_roles] FOREIGN KEY([idRol])
REFERENCES [dbo].[roles] ([idRol])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_usuarios_roles]
GO
ALTER TABLE [dbo].[aprendices]  WITH NOCHECK ADD  CONSTRAINT [CHK_Aprendices_Estado] CHECK  (([estadoAcademico]=N'En formación' OR [estadoAcademico]=N'Aplazado' OR [estadoAcademico]=N'Desertado' OR [estadoAcademico]=N'Retiro voluntario' OR [estadoAcademico]=N'Condicionado' OR [estadoAcademico]=N'Cancelado' OR [estadoAcademico]=N'Certificado'))
GO
ALTER TABLE [dbo].[aprendices] CHECK CONSTRAINT [CHK_Aprendices_Estado]
GO
ALTER TABLE [dbo].[aprendices]  WITH NOCHECK ADD  CONSTRAINT [CHK_Aprendices_Telefono] CHECK  ((NOT [telefono] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[aprendices] CHECK CONSTRAINT [CHK_Aprendices_Telefono]
GO
ALTER TABLE [dbo].[centros]  WITH CHECK ADD  CONSTRAINT [CHK_centros_estado] CHECK  (([estado]='Inactivo' OR [estado]='Activo'))
GO
ALTER TABLE [dbo].[centros] CHECK CONSTRAINT [CHK_centros_estado]
GO
ALTER TABLE [dbo].[evaluaciones]  WITH CHECK ADD  CONSTRAINT [CHK_CriterioConocimiento] CHECK  (([criterioConocimiento]=N'No aprobado' OR [criterioConocimiento]=N'Aprobado'))
GO
ALTER TABLE [dbo].[evaluaciones] CHECK CONSTRAINT [CHK_CriterioConocimiento]
GO
ALTER TABLE [dbo].[evaluaciones]  WITH CHECK ADD  CONSTRAINT [CHK_CriterioDesempeno] CHECK  (([criterioDesempeno]=N'No aprobado' OR [criterioDesempeno]=N'Aprobado'))
GO
ALTER TABLE [dbo].[evaluaciones] CHECK CONSTRAINT [CHK_CriterioDesempeno]
GO
ALTER TABLE [dbo].[evaluaciones]  WITH CHECK ADD  CONSTRAINT [CHK_CriterioProducto] CHECK  (([criterioProducto]=N'No aprobado' OR [criterioProducto]=N'Aprobado'))
GO
ALTER TABLE [dbo].[evaluaciones] CHECK CONSTRAINT [CHK_CriterioProducto]
GO
ALTER TABLE [dbo].[evidencias]  WITH CHECK ADD  CONSTRAINT [CHK_Evidencias_TipoArchivo] CHECK  (([tipoArchivo]=N'ZIP' OR [tipoArchivo]=N'PNG' OR [tipoArchivo]=N'JPG' OR [tipoArchivo]=N'DOCX' OR [tipoArchivo]=N'PDF'))
GO
ALTER TABLE [dbo].[evidencias] CHECK CONSTRAINT [CHK_Evidencias_TipoArchivo]
GO
ALTER TABLE [dbo].[fichas]  WITH CHECK ADD  CONSTRAINT [CHK_Fechas_Ficha] CHECK  (([fechaFinalizacion]>[fechaInicio]))
GO
ALTER TABLE [dbo].[fichas] CHECK CONSTRAINT [CHK_Fechas_Ficha]
GO
ALTER TABLE [dbo].[fichas]  WITH CHECK ADD  CONSTRAINT [CHK_Fichas_Estado] CHECK  (([estado]=N'Finalizada' OR [estado]=N'En formacion'))
GO
ALTER TABLE [dbo].[fichas] CHECK CONSTRAINT [CHK_Fichas_Estado]
GO
ALTER TABLE [dbo].[fichas]  WITH CHECK ADD  CONSTRAINT [CHK_Fichas_Jornada] CHECK  (([jornada]=N'Mixta' OR [jornada]=N'Noche' OR [jornada]=N'Tarde' OR [jornada]=N'Mañana'))
GO
ALTER TABLE [dbo].[fichas] CHECK CONSTRAINT [CHK_Fichas_Jornada]
GO
ALTER TABLE [dbo].[instructores]  WITH CHECK ADD  CONSTRAINT [CHK_Instructores_Telefono] CHECK  ((NOT [telefono] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[instructores] CHECK CONSTRAINT [CHK_Instructores_Telefono]
GO
ALTER TABLE [dbo].[planesMejoramiento]  WITH CHECK ADD  CONSTRAINT [CHK_EstadoPlan] CHECK  (([estadoPlan]='No Aprobado' OR [estadoPlan]='Aprobado' OR [estadoPlan]='Pendiente'))
GO
ALTER TABLE [dbo].[planesMejoramiento] CHECK CONSTRAINT [CHK_EstadoPlan]
GO
ALTER TABLE [dbo].[planesMejoramiento]  WITH CHECK ADD  CONSTRAINT [CHK_Fechas_PlanMejoramiento] CHECK  (([fechaLimite]>=[fechaAsignacion]))
GO
ALTER TABLE [dbo].[planesMejoramiento] CHECK CONSTRAINT [CHK_Fechas_PlanMejoramiento]
GO
ALTER TABLE [dbo].[planesMejoramiento]  WITH CHECK ADD  CONSTRAINT [CHK_TipoPlan] CHECK  (([tipoPlan]=N'Comité' OR [tipoPlan]=N'Interno'))
GO
ALTER TABLE [dbo].[planesMejoramiento] CHECK CONSTRAINT [CHK_TipoPlan]
GO
ALTER TABLE [dbo].[programas]  WITH CHECK ADD  CONSTRAINT [CHK_Programas_Estado] CHECK  (([estado]=N'Finalizado' OR [estado]=N'Suspendido' OR [estado]=N'Inactivo' OR [estado]=N'Activo'))
GO
ALTER TABLE [dbo].[programas] CHECK CONSTRAINT [CHK_Programas_Estado]
GO
USE [master]
GO
