USE [planMejoramiento]
GO
/****** Object:  Table [dbo].[aprendices]    Script Date: 26/05/2026 3:23:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aprendices](
	[idAprendiz] [int] IDENTITY(1,1) NOT NULL,
	[tipoDocumento] [nvarchar](50) NOT NULL,
	[numeroDocumento] [nvarchar](50) NOT NULL,
	[nombres] [nvarchar](100) NOT NULL,
	[apellidos] [nvarchar](100) NOT NULL,
	[correo] [nvarchar](100) NOT NULL,
	[telefono] [nvarchar](50) NOT NULL,
	[estadoAcademico] [nvarchar](20) NOT NULL,
	[idUsuario] [int] NULL,
	[idFicha] [int] NOT NULL,
	[idCentro] [int] NOT NULL,
 CONSTRAINT [PK_aprendices] PRIMARY KEY CLUSTERED 
(
	[idAprendiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Aprendiz_Documento] UNIQUE NONCLUSTERED 
(
	[numeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[centros]    Script Date: 26/05/2026 3:23:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[centros](
	[idCentro] [int] IDENTITY(1,1) NOT NULL,
	[codigoCentro] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[regional] [nvarchar](100) NOT NULL,
	[municipio] [nvarchar](100) NOT NULL,
	[departamento] [nvarchar](100) NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_centros] PRIMARY KEY CLUSTERED 
(
	[idCentro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_centros_codigo] UNIQUE NONCLUSTERED 
(
	[codigoCentro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[competencias]    Script Date: 26/05/2026 3:23:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competencias](
	[idCompetencia] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[idPrograma] [int] NOT NULL,
 CONSTRAINT [PK_competencias] PRIMARY KEY CLUSTERED 
(
	[idCompetencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evaluaciones]    Script Date: 26/05/2026 3:23:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluaciones](
	[idEvaluacion] [int] IDENTITY(1,1) NOT NULL,
	[idPlanMejoramiento] [int] NOT NULL,
	[criterioProducto] [nvarchar](50) NULL,
	[criterioConocimiento] [nvarchar](50) NULL,
	[criterioDesempeno] [nvarchar](50) NULL,
	[observaciones] [nvarchar](max) NULL,
 CONSTRAINT [PK_evaluaciones] PRIMARY KEY CLUSTERED 
(
	[idEvaluacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evidencias]    Script Date: 26/05/2026 3:23:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evidencias](
	[idEvidencia] [int] IDENTITY(1,1) NOT NULL,
	[idPlanMejoramiento] [int] NOT NULL,
	[nombreArchivo] [nvarchar](255) NULL,
	[rutaArchivo] [nvarchar](max) NULL,
	[fechaSubida] [datetime] NULL,
	[tipoArchivo] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_evidencias] PRIMARY KEY CLUSTERED 
(
	[idEvidencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fichaAprendiz]    Script Date: 26/05/2026 3:23:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fichaAprendiz](
	[idFichaAprendiz] [int] IDENTITY(1,1) NOT NULL,
	[idFicha] [int] NOT NULL,
	[idAprendiz] [int] NOT NULL,
 CONSTRAINT [PK_fichaAprendiz] PRIMARY KEY CLUSTERED 
(
	[idFichaAprendiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_FichaAprendiz] UNIQUE NONCLUSTERED 
(
	[idFicha] ASC,
	[idAprendiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fichaInstructor]    Script Date: 26/05/2026 3:23:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fichaInstructor](
	[idFichaInstructor] [int] IDENTITY(1,1) NOT NULL,
	[idFicha] [int] NOT NULL,
	[idInstructor] [int] NOT NULL,
 CONSTRAINT [PK_fichaInstructor] PRIMARY KEY CLUSTERED 
(
	[idFichaInstructor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_FichaInstructor] UNIQUE NONCLUSTERED 
(
	[idFicha] ASC,
	[idInstructor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fichas]    Script Date: 26/05/2026 3:23:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fichas](
	[idFicha] [int] IDENTITY(1,1) NOT NULL,
	[codigoFicha] [nvarchar](50) NULL,
	[fechaInicio] [date] NOT NULL,
	[fechaFinalizacion] [date] NOT NULL,
	[jornada] [nvarchar](20) NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
	[idPrograma] [int] NOT NULL,
	[idCentro] [int] NOT NULL,
 CONSTRAINT [PK_fichas] PRIMARY KEY CLUSTERED 
(
	[idFicha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[instructores]    Script Date: 26/05/2026 3:23:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instructores](
	[idInstructor] [int] IDENTITY(1,1) NOT NULL,
	[tipoDocumento] [nvarchar](50) NOT NULL,
	[numeroDocumento] [nvarchar](80) NOT NULL,
	[nombres] [nvarchar](100) NOT NULL,
	[apellidos] [nvarchar](100) NOT NULL,
	[correo] [nvarchar](100) NOT NULL,
	[telefono] [nvarchar](50) NOT NULL,
	[especialidad] [nvarchar](50) NOT NULL,
	[idUsuario] [int] NULL,
	[idCentro] [int] NOT NULL,
 CONSTRAINT [PK_instructores] PRIMARY KEY CLUSTERED 
(
	[idInstructor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Instructor_Documento] UNIQUE NONCLUSTERED 
(
	[numeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[planesMejoramiento]    Script Date: 26/05/2026 3:23:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[planesMejoramiento](
	[idPlanMejoramiento] [int] IDENTITY(1,1) NOT NULL,
	[tipoPlan] [nvarchar](50) NOT NULL,
	[fechaAsignacion] [date] NOT NULL,
	[fechaLimite] [date] NOT NULL,
	[actividades] [nvarchar](200) NOT NULL,
	[observaciones] [nvarchar](max) NULL,
	[estadoPlan] [nvarchar](20) NOT NULL,
	[idAprendiz] [int] NOT NULL,
	[idInstructor] [int] NOT NULL,
 CONSTRAINT [PK_planesMejoramiento] PRIMARY KEY CLUSTERED 
(
	[idPlanMejoramiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[planResultados]    Script Date: 26/05/2026 3:23:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[planResultados](
	[idPlanResultado] [int] IDENTITY(1,1) NOT NULL,
	[idPlanMejoramiento] [int] NOT NULL,
	[idResultadoAprendizaje] [int] NOT NULL,
 CONSTRAINT [PK_planResultados] PRIMARY KEY CLUSTERED 
(
	[idPlanResultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PlanResultados] UNIQUE NONCLUSTERED 
(
	[idPlanMejoramiento] ASC,
	[idResultadoAprendizaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[programas]    Script Date: 26/05/2026 3:23:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[programas](
	[idPrograma] [int] IDENTITY(1,1) NOT NULL,
	[codigoPrograma] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[version] [nvarchar](20) NOT NULL,
	[nivel] [nvarchar](80) NOT NULL,
	[duracion] [nvarchar](80) NOT NULL,
	[estado] [nvarchar](80) NOT NULL,
	[idCentro] [int] NOT NULL,
 CONSTRAINT [PK_programas] PRIMARY KEY CLUSTERED 
(
	[idPrograma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recuperacionPassword]    Script Date: 26/05/2026 3:23:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recuperacionPassword](
	[idRecuperacion] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[token] [nvarchar](200) NOT NULL,
	[fechaExpiracion] [datetime] NOT NULL,
	[usado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idRecuperacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[resultadoAprendizaje]    Script Date: 26/05/2026 3:23:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resultadoAprendizaje](
	[idResultadoAprendizaje] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[idCompetencia] [int] NOT NULL,
 CONSTRAINT [PK_resultadoAprendizaje] PRIMARY KEY CLUSTERED 
(
	[idResultadoAprendizaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 26/05/2026 3:23:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[nombreRol] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 26/05/2026 3:23:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[correo] [nvarchar](150) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[idRol] [int] NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuarios_Correo] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[centros] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[programas] ADD  DEFAULT ((1)) FOR [idCentro]
GO
ALTER TABLE [dbo].[recuperacionPassword] ADD  DEFAULT ((0)) FOR [usado]
GO
ALTER TABLE [dbo].[aprendices]  WITH NOCHECK ADD  CONSTRAINT [FK_aprendices_centros] FOREIGN KEY([idCentro])
REFERENCES [dbo].[centros] ([idCentro])
GO
ALTER TABLE [dbo].[aprendices] CHECK CONSTRAINT [FK_aprendices_centros]
GO
ALTER TABLE [dbo].[aprendices]  WITH NOCHECK ADD  CONSTRAINT [FK_aprendices_usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[aprendices] CHECK CONSTRAINT [FK_aprendices_usuarios]
GO
ALTER TABLE [dbo].[competencias]  WITH CHECK ADD  CONSTRAINT [FK_competencias_programas] FOREIGN KEY([idPrograma])
REFERENCES [dbo].[programas] ([idPrograma])
GO
ALTER TABLE [dbo].[competencias] CHECK CONSTRAINT [FK_competencias_programas]
GO
ALTER TABLE [dbo].[evaluaciones]  WITH CHECK ADD  CONSTRAINT [FK_evaluaciones_planesMejoramiento] FOREIGN KEY([idPlanMejoramiento])
REFERENCES [dbo].[planesMejoramiento] ([idPlanMejoramiento])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[evaluaciones] CHECK CONSTRAINT [FK_evaluaciones_planesMejoramiento]
GO
ALTER TABLE [dbo].[evidencias]  WITH CHECK ADD  CONSTRAINT [FK_evidencias_planesMejoramiento] FOREIGN KEY([idPlanMejoramiento])
REFERENCES [dbo].[planesMejoramiento] ([idPlanMejoramiento])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[evidencias] CHECK CONSTRAINT [FK_evidencias_planesMejoramiento]
GO
ALTER TABLE [dbo].[fichaAprendiz]  WITH CHECK ADD  CONSTRAINT [FK_fichaAprendiz_aprendices] FOREIGN KEY([idAprendiz])
REFERENCES [dbo].[aprendices] ([idAprendiz])
GO
ALTER TABLE [dbo].[fichaAprendiz] CHECK CONSTRAINT [FK_fichaAprendiz_aprendices]
GO
ALTER TABLE [dbo].[fichaAprendiz]  WITH CHECK ADD  CONSTRAINT [FK_fichaAprendiz_fichas] FOREIGN KEY([idFicha])
REFERENCES [dbo].[fichas] ([idFicha])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[fichaAprendiz] CHECK CONSTRAINT [FK_fichaAprendiz_fichas]
GO
ALTER TABLE [dbo].[fichaInstructor]  WITH CHECK ADD  CONSTRAINT [FK_fichaInstructor_fichas] FOREIGN KEY([idFicha])
REFERENCES [dbo].[fichas] ([idFicha])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[fichaInstructor] CHECK CONSTRAINT [FK_fichaInstructor_fichas]
GO
ALTER TABLE [dbo].[fichaInstructor]  WITH CHECK ADD  CONSTRAINT [FK_fichaInstructor_instructores] FOREIGN KEY([idInstructor])
REFERENCES [dbo].[instructores] ([idInstructor])
GO
ALTER TABLE [dbo].[fichaInstructor] CHECK CONSTRAINT [FK_fichaInstructor_instructores]
GO
ALTER TABLE [dbo].[fichas]  WITH CHECK ADD  CONSTRAINT [FK_fichas_centros] FOREIGN KEY([idCentro])
REFERENCES [dbo].[centros] ([idCentro])
GO
ALTER TABLE [dbo].[fichas] CHECK CONSTRAINT [FK_fichas_centros]
GO
ALTER TABLE [dbo].[fichas]  WITH CHECK ADD  CONSTRAINT [FK_fichas_programas] FOREIGN KEY([idPrograma])
REFERENCES [dbo].[programas] ([idPrograma])
GO
ALTER TABLE [dbo].[fichas] CHECK CONSTRAINT [FK_fichas_programas]
GO
ALTER TABLE [dbo].[instructores]  WITH CHECK ADD  CONSTRAINT [FK_instructores_centros] FOREIGN KEY([idCentro])
REFERENCES [dbo].[centros] ([idCentro])
GO
ALTER TABLE [dbo].[instructores] CHECK CONSTRAINT [FK_instructores_centros]
GO
ALTER TABLE [dbo].[instructores]  WITH CHECK ADD  CONSTRAINT [FK_instructores_usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[instructores] CHECK CONSTRAINT [FK_instructores_usuarios]
GO
ALTER TABLE [dbo].[planesMejoramiento]  WITH CHECK ADD  CONSTRAINT [FK_planesMejoramiento_aprendices] FOREIGN KEY([idAprendiz])
REFERENCES [dbo].[aprendices] ([idAprendiz])
GO
ALTER TABLE [dbo].[planesMejoramiento] CHECK CONSTRAINT [FK_planesMejoramiento_aprendices]
GO
ALTER TABLE [dbo].[planesMejoramiento]  WITH CHECK ADD  CONSTRAINT [FK_planesMejoramiento_instructores] FOREIGN KEY([idInstructor])
REFERENCES [dbo].[instructores] ([idInstructor])
GO
ALTER TABLE [dbo].[planesMejoramiento] CHECK CONSTRAINT [FK_planesMejoramiento_instructores]
GO
ALTER TABLE [dbo].[planResultados]  WITH CHECK ADD  CONSTRAINT [FK_planResultados_planesMejoramiento] FOREIGN KEY([idPlanMejoramiento])
REFERENCES [dbo].[planesMejoramiento] ([idPlanMejoramiento])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[planResultados] CHECK CONSTRAINT [FK_planResultados_planesMejoramiento]
GO
ALTER TABLE [dbo].[planResultados]  WITH CHECK ADD  CONSTRAINT [FK_planResultados_resultadoAprendizaje] FOREIGN KEY([idResultadoAprendizaje])
REFERENCES [dbo].[resultadoAprendizaje] ([idResultadoAprendizaje])
GO
ALTER TABLE [dbo].[planResultados] CHECK CONSTRAINT [FK_planResultados_resultadoAprendizaje]
GO
ALTER TABLE [dbo].[programas]  WITH CHECK ADD  CONSTRAINT [FK_programas_centros] FOREIGN KEY([idCentro])
REFERENCES [dbo].[centros] ([idCentro])
GO
ALTER TABLE [dbo].[programas] CHECK CONSTRAINT [FK_programas_centros]
GO
ALTER TABLE [dbo].[recuperacionPassword]  WITH CHECK ADD  CONSTRAINT [FK_Recuperacion_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[recuperacionPassword] CHECK CONSTRAINT [FK_Recuperacion_Usuario]
GO
ALTER TABLE [dbo].[resultadoAprendizaje]  WITH CHECK ADD  CONSTRAINT [FK_resultadoAprendizaje_competencias] FOREIGN KEY([idCompetencia])
REFERENCES [dbo].[competencias] ([idCompetencia])
GO
ALTER TABLE [dbo].[resultadoAprendizaje] CHECK CONSTRAINT [FK_resultadoAprendizaje_competencias]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_roles] FOREIGN KEY([idRol])
REFERENCES [dbo].[roles] ([idRol])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_usuarios_roles]
GO
ALTER TABLE [dbo].[aprendices]  WITH NOCHECK ADD  CONSTRAINT [CHK_Aprendices_Estado] CHECK  (([estadoAcademico]=N'En formación' OR [estadoAcademico]=N'Aplazado' OR [estadoAcademico]=N'Desertado' OR [estadoAcademico]=N'Retiro voluntario' OR [estadoAcademico]=N'Condicionado' OR [estadoAcademico]=N'Cancelado' OR [estadoAcademico]=N'Certificado'))
GO
ALTER TABLE [dbo].[aprendices] CHECK CONSTRAINT [CHK_Aprendices_Estado]
GO
ALTER TABLE [dbo].[aprendices]  WITH NOCHECK ADD  CONSTRAINT [CHK_Aprendices_Telefono] CHECK  ((NOT [telefono] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[aprendices] CHECK CONSTRAINT [CHK_Aprendices_Telefono]
GO
ALTER TABLE [dbo].[centros]  WITH CHECK ADD  CONSTRAINT [CHK_centros_estado] CHECK  (([estado]='Inactivo' OR [estado]='Activo'))
GO
ALTER TABLE [dbo].[centros] CHECK CONSTRAINT [CHK_centros_estado]
GO
ALTER TABLE [dbo].[evaluaciones]  WITH CHECK ADD  CONSTRAINT [CHK_CriterioConocimiento] CHECK  (([criterioConocimiento]=N'No aprobado' OR [criterioConocimiento]=N'Aprobado'))
GO
ALTER TABLE [dbo].[evaluaciones] CHECK CONSTRAINT [CHK_CriterioConocimiento]
GO
ALTER TABLE [dbo].[evaluaciones]  WITH CHECK ADD  CONSTRAINT [CHK_CriterioDesempeno] CHECK  (([criterioDesempeno]=N'No aprobado' OR [criterioDesempeno]=N'Aprobado'))
GO
ALTER TABLE [dbo].[evaluaciones] CHECK CONSTRAINT [CHK_CriterioDesempeno]
GO
ALTER TABLE [dbo].[evaluaciones]  WITH CHECK ADD  CONSTRAINT [CHK_CriterioProducto] CHECK  (([criterioProducto]=N'No aprobado' OR [criterioProducto]=N'Aprobado'))
GO
ALTER TABLE [dbo].[evaluaciones] CHECK CONSTRAINT [CHK_CriterioProducto]
GO
ALTER TABLE [dbo].[evidencias]  WITH CHECK ADD  CONSTRAINT [CHK_Evidencias_TipoArchivo] CHECK  (([tipoArchivo]=N'ZIP' OR [tipoArchivo]=N'PNG' OR [tipoArchivo]=N'JPG' OR [tipoArchivo]=N'DOCX' OR [tipoArchivo]=N'PDF'))
GO
ALTER TABLE [dbo].[evidencias] CHECK CONSTRAINT [CHK_Evidencias_TipoArchivo]
GO
ALTER TABLE [dbo].[fichas]  WITH CHECK ADD  CONSTRAINT [CHK_Fechas_Ficha] CHECK  (([fechaFinalizacion]>[fechaInicio]))
GO
ALTER TABLE [dbo].[fichas] CHECK CONSTRAINT [CHK_Fechas_Ficha]
GO
ALTER TABLE [dbo].[fichas]  WITH CHECK ADD  CONSTRAINT [CHK_Fichas_Estado] CHECK  (([estado]=N'Finalizada' OR [estado]=N'En formacion'))
GO
ALTER TABLE [dbo].[fichas] CHECK CONSTRAINT [CHK_Fichas_Estado]
GO
ALTER TABLE [dbo].[fichas]  WITH CHECK ADD  CONSTRAINT [CHK_Fichas_Jornada] CHECK  (([jornada]=N'Mixta' OR [jornada]=N'Noche' OR [jornada]=N'Tarde' OR [jornada]=N'Mañana'))
GO
ALTER TABLE [dbo].[fichas] CHECK CONSTRAINT [CHK_Fichas_Jornada]
GO
ALTER TABLE [dbo].[instructores]  WITH CHECK ADD  CONSTRAINT [CHK_Instructores_Telefono] CHECK  ((NOT [telefono] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[instructores] CHECK CONSTRAINT [CHK_Instructores_Telefono]
GO
ALTER TABLE [dbo].[planesMejoramiento]  WITH CHECK ADD  CONSTRAINT [CHK_EstadoPlan] CHECK  (([estadoPlan]='No Aprobado' OR [estadoPlan]='Aprobado' OR [estadoPlan]='Pendiente'))
GO
ALTER TABLE [dbo].[planesMejoramiento] CHECK CONSTRAINT [CHK_EstadoPlan]
GO
ALTER TABLE [dbo].[planesMejoramiento]  WITH CHECK ADD  CONSTRAINT [CHK_Fechas_PlanMejoramiento] CHECK  (([fechaLimite]>=[fechaAsignacion]))
GO
ALTER TABLE [dbo].[planesMejoramiento] CHECK CONSTRAINT [CHK_Fechas_PlanMejoramiento]
GO
ALTER TABLE [dbo].[planesMejoramiento]  WITH CHECK ADD  CONSTRAINT [CHK_TipoPlan] CHECK  (([tipoPlan]=N'Comité' OR [tipoPlan]=N'Interno'))
GO
ALTER TABLE [dbo].[planesMejoramiento] CHECK CONSTRAINT [CHK_TipoPlan]
GO
ALTER TABLE [dbo].[programas]  WITH CHECK ADD  CONSTRAINT [CHK_Programas_Estado] CHECK  (([estado]=N'Finalizado' OR [estado]=N'Suspendido' OR [estado]=N'Inactivo' OR [estado]=N'Activo'))
GO
ALTER TABLE [dbo].[programas] CHECK CONSTRAINT [CHK_Programas_Estado]
GO
